## Preprocessing

In [74]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [75]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (1.4.7)
Requirement already satisfied: keras in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from keras-tuner) (2.12.0)
Requirement already satisfied: packaging in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from keras-tuner) (23.2)
Requirement already satisfied: requests in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from keras-tuner) (2.32.2)
Requirement already satisfied: kt-legacy in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->keras-tuner) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->keras-tuner) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/msk/Desktop/Applications/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->keras-tuner) (2024.8.30)

In [76]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [77]:
# Determine the number of unique values in each column.
df_count = application_df.dtypes.index.tolist()
application_df[df_count].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [78]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [79]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [80]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [81]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_value_counts.loc[classification_value_counts > 1]
classification_counts_gt_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [82]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts_type = dict(application_df['CLASSIFICATION'].value_counts())

classifications_to_replace = [x for x in classification_counts_type if classification_counts_type[x] < 1000]
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [83]:
# Convert categorical data to numeric with `pd.get_dummies`
# df_application_dummies = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
# df_application_dummies.head()

application_df = pd.get_dummies(application_df)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [84]:

# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [85]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

### Use Keras Tuner to Optimise the parameters

In [86]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn = tf.keras.models.Sequential()

    input_dim = len(X_train_scaled[0])

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])

    # Allow kerastuner to decide number of neurons in first layer
    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=80,
        step=5), activation=activation, input_dim=input_dim))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 6, 10)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=40,
            step=5),
            activation=activation))

    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn


# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [87]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 16s]
val_accuracy: 0.7261807322502136

Best val_accuracy So Far: 0.728863000869751
Total elapsed time: 00h 06m 12s

In [88]:
# Evaluate the top 3 models against the test dataset
top_3_model = tuner.get_best_models(3)
for model in top_3_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5586 - accuracy: 0.7289 - 165ms/epoch - 615us/step
Loss: 0.5586366653442383, Accuracy: 0.728863000869751
268/268 - 0s - loss: 0.5582 - accuracy: 0.7284 - 166ms/epoch - 621us/step
Loss: 0.5581731796264648, Accuracy: 0.728396475315094
268/268 - 0s - loss: 0.5779 - accuracy: 0.7279 - 186ms/epoch - 693us/step
Loss: 0.5779168605804443, Accuracy: 0.7279300093650818

In [89]:
# Top model hyperparameters
top_model_hyper = tuner.get_best_hyperparameters(1)[0]
top_model_hyper.values

{'activation': 'relu',
 'first_units': 61,
 'num_layers': 6,
 'units_0': 16,
 'units_1': 6,
 'units_2': 36,
 'units_3': 21,
 'units_4': 16,
 'units_5': 16,
 'units_6': 11,
 'units_7': 31,
 'units_8': 26,
 'units_9': 6,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0048'}

## Create Model with Optimized Hyperparameters from Keras Tuner

In [90]:
input_dim = len(X_train_scaled[0])

bestmodel_nn = tf.keras.models.Sequential()

# Input layer
bestmodel_nn.add(tf.keras.layers.Dense(units=top_model_hyper.values['first_units'], input_dim=input_dim, activation=top_model_hyper.values['activation']))

# Loop through to create the hidden layers
for i in range(top_model_hyper.values['num_layers']):
  bestmodel_nn.add(tf.keras.layers.Dense(units=top_model_hyper.values['units_'+ str(i)], activation=top_model_hyper.values['activation']))

# Output layer
bestmodel_nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the model structure
bestmodel_nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 61)                2684

 dense_13 (Dense)            (None, 16)                992

 dense_14 (Dense)            (None, 6)                 102

 dense_15 (Dense)            (None, 36)                252

 dense_16 (Dense)            (None, 21)                777

 dense_17 (Dense)            (None, 16)                352

 dense_18 (Dense)            (None, 16)                272

 dense_19 (Dense)            (None, 1)                 17

=================================================================
Total params: 5,448
Trainable params: 5,448
Non-trainable params: 0
_________________________________________________________________

In [91]:
# Output layer
bestmodel_nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the model structure
bestmodel_nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 61)                2684

 dense_13 (Dense)            (None, 16)                992

 dense_14 (Dense)            (None, 6)                 102

 dense_15 (Dense)            (None, 36)                252

 dense_16 (Dense)            (None, 21)                777

 dense_17 (Dense)            (None, 16)                352

 dense_18 (Dense)            (None, 16)                272

 dense_19 (Dense)            (None, 1)                 17

 dense_20 (Dense)            (None, 1)                 2

=================================================================
Total params: 5,450
Trainable params: 5,450
Non-trainable params: 0
_________________________________________________________________

In [92]:
# Compile the best model
bestmodel_nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [93]:

# Train the best model
fit_best_model = bestmodel_nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 692us/step - loss: 0.6335 - accuracy: 0.6900
Epoch 2/100
804/804 [==============================] - 1s 669us/step - loss: 0.6011 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 1s 663us/step - loss: 0.5869 - accuracy: 0.7317
Epoch 4/100
804/804 [==============================] - 1s 660us/step - loss: 0.5806 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 1s 660us/step - loss: 0.5776 - accuracy: 0.7309
Epoch 6/100
804/804 [==============================] - 1s 660us/step - loss: 0.5737 - accuracy: 0.7294
Epoch 7/100
804/804 [==============================] - 1s 673us/step - loss: 0.5673 - accuracy: 0.7315
Epoch 8/100
804/804 [==============================] - 1s 659us/step - loss: 0.5639 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 1s 658us/step - loss: 0.5615 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 1s 662us/step - loss: 0.5593 - accuracy: 0.7329
Epoch 11/100
804/804 [==============================] - 1s 909us/step - loss: 0.5579 - accuracy: 0.7345
Epoch 12/100
804/804 [==============================] - 1s 709us/step - loss: 0.5562 - accuracy: 0.7345
Epoch 13/100
804/804 [==============================] - 1s 712us/step - loss: 0.5547 - accuracy: 0.7347
Epoch 14/100
804/804 [==============================] - 1s 674us/step - loss: 0.5535 - accuracy: 0.7353
Epoch 15/100
804/804 [==============================] - 1s 687us/step - loss: 0.5534 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 1s 779us/step - loss: 0.5523 - accuracy: 0.7352
Epoch 17/100
804/804 [==============================] - 1s 770us/step - loss: 0.5507 - accuracy: 0.7358
Epoch 18/100
804/804 [==============================] - 1s 710us/step - loss: 0.5500 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 1s 696us/step - loss: 0.5496 - accuracy: 0.7351
Epoch 20/100
804/804 [==============================] - 1s 690us/step - loss: 0.5493 - accuracy: 0.7354
Epoch 21/100
804/804 [==============================] - 1s 699us/step - loss: 0.5485 - accuracy: 0.7360
Epoch 22/100
804/804 [==============================] - 1s 688us/step - loss: 0.5485 - accuracy: 0.7359
Epoch 23/100
804/804 [==============================] - 1s 707us/step - loss: 0.5477 - accuracy: 0.7365
Epoch 24/100
804/804 [==============================] - 1s 678us/step - loss: 0.5475 - accuracy: 0.7373
Epoch 25/100
804/804 [==============================] - 1s 670us/step - loss: 0.5473 - accuracy: 0.7367
Epoch 26/100
804/804 [==============================] - 1s 654us/step - loss: 0.5462 - accuracy: 0.7374
Epoch 27/100
804/804 [==============================] - 1s 652us/step - loss: 0.5459 - accuracy: 0.7381
Epoch 28/100
804/804 [==============================] - 1s 665us/step - loss: 0.5456 - accuracy: 0.7376
Epoch 29/100
804/804 [==============================] - 1s 663us/step - loss: 0.5459 - accuracy: 0.7367
Epoch 30/100
804/804 [==============================] - 1s 663us/step - loss: 0.5454 - accuracy: 0.7373
Epoch 31/100
804/804 [==============================] - 1s 666us/step - loss: 0.5449 - accuracy: 0.7383
Epoch 32/100
804/804 [==============================] - 1s 675us/step - loss: 0.5448 - accuracy: 0.7383
Epoch 33/100
804/804 [==============================] - 1s 852us/step - loss: 0.5451 - accuracy: 0.7374
Epoch 34/100
804/804 [==============================] - 1s 671us/step - loss: 0.5440 - accuracy: 0.7374
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7379
Epoch 36/100
804/804 [==============================] - 1s 694us/step - loss: 0.5445 - accuracy: 0.7377
Epoch 37/100
804/804 [==============================] - 1s 674us/step - loss: 0.5435 - accuracy: 0.7392
Epoch 38/100
804/804 [==============================] - 1s 670us/step - loss: 0.5430 - accuracy: 0.7393
Epoch 39/100
804/804 [==============================] - 1s 660us/step - loss: 0.5430 - accuracy: 0.7387
Epoch 40/100
804/804 [==============================] - 1s 665us/step - loss: 0.5432 - accuracy: 0.7380
Epoch 41/100
804/804 [==============================] - 1s 667us/step - loss: 0.5423 - accuracy: 0.7390
Epoch 42/100
804/804 [==============================] - 1s 663us/step - loss: 0.5439 - accuracy: 0.7380
Epoch 43/100
804/804 [==============================] - 1s 666us/step - loss: 0.5425 - accuracy: 0.7391
Epoch 44/100
804/804 [==============================] - 1s 661us/step - loss: 0.5426 - accuracy: 0.7380
Epoch 45/100
804/804 [==============================] - 1s 666us/step - loss: 0.5428 - accuracy: 0.7384
Epoch 46/100
804/804 [==============================] - 1s 667us/step - loss: 0.5421 - accuracy: 0.7393
Epoch 47/100
804/804 [==============================] - 1s 665us/step - loss: 0.5447 - accuracy: 0.7365
Epoch 48/100
804/804 [==============================] - 1s 665us/step - loss: 0.5424 - accuracy: 0.7381
Epoch 49/100
804/804 [==============================] - 1s 680us/step - loss: 0.5415 - accuracy: 0.7393
Epoch 50/100
804/804 [==============================] - 1s 663us/step - loss: 0.5416 - accuracy: 0.7384
Epoch 51/100
804/804 [==============================] - 1s 667us/step - loss: 0.5412 - accuracy: 0.7385
Epoch 52/100
804/804 [==============================] - 1s 664us/step - loss: 0.5412 - accuracy: 0.7394
Epoch 53/100
804/804 [==============================] - 1s 671us/step - loss: 0.5414 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 1s 667us/step - loss: 0.5410 - accuracy: 0.7398
Epoch 55/100
804/804 [==============================] - 1s 664us/step - loss: 0.5414 - accuracy: 0.7390
Epoch 56/100
804/804 [==============================] - 1s 727us/step - loss: 0.5410 - accuracy: 0.7397
Epoch 57/100
804/804 [==============================] - 1s 673us/step - loss: 0.5407 - accuracy: 0.7391
Epoch 58/100
804/804 [==============================] - 1s 657us/step - loss: 0.5420 - accuracy: 0.7388
Epoch 59/100
804/804 [==============================] - 1s 658us/step - loss: 0.5408 - accuracy: 0.7387
Epoch 60/100
804/804 [==============================] - 1s 666us/step - loss: 0.5401 - accuracy: 0.7382
Epoch 61/100
804/804 [==============================] - 1s 659us/step - loss: 0.5410 - accuracy: 0.7390
Epoch 62/100
804/804 [==============================] - 1s 670us/step - loss: 0.5402 - accuracy: 0.7406
Epoch 63/100
804/804 [==============================] - 1s 656us/step - loss: 0.5403 - accuracy: 0.7401
Epoch 64/100
804/804 [==============================] - 1s 661us/step - loss: 0.5397 - accuracy: 0.7403
Epoch 65/100
804/804 [==============================] - 1s 674us/step - loss: 0.5397 - accuracy: 0.7405
Epoch 66/100
804/804 [==============================] - 1s 661us/step - loss: 0.5396 - accuracy: 0.7400
Epoch 67/100
804/804 [==============================] - 1s 665us/step - loss: 0.5390 - accuracy: 0.7407
Epoch 68/100
804/804 [==============================] - 1s 666us/step - loss: 0.5397 - accuracy: 0.7409
Epoch 69/100
804/804 [==============================] - 1s 683us/step - loss: 0.5398 - accuracy: 0.7392
Epoch 70/100
804/804 [==============================] - 1s 675us/step - loss: 0.5396 - accuracy: 0.7396
Epoch 71/100
804/804 [==============================] - 1s 660us/step - loss: 0.5399 - accuracy: 0.7399
Epoch 72/100
804/804 [==============================] - 1s 675us/step - loss: 0.5387 - accuracy: 0.7406
Epoch 73/100
804/804 [==============================] - 1s 675us/step - loss: 0.5387 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 1s 663us/step - loss: 0.5389 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 1s 668us/step - loss: 0.5384 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 1s 747us/step - loss: 0.5391 - accuracy: 0.7404
Epoch 77/100
804/804 [==============================] - 1s 682us/step - loss: 0.5383 - accuracy: 0.7399
Epoch 78/100
804/804 [==============================] - 1s 679us/step - loss: 0.5385 - accuracy: 0.7414
Epoch 79/100
804/804 [==============================] - 1s 662us/step - loss: 0.5396 - accuracy: 0.7399
Epoch 80/100
804/804 [==============================] - 1s 692us/step - loss: 0.5388 - accuracy: 0.7402
Epoch 81/100
804/804 [==============================] - 1s 716us/step - loss: 0.5376 - accuracy: 0.7416
Epoch 82/100
804/804 [==============================] - 1s 695us/step - loss: 0.5380 - accuracy: 0.7409
Epoch 83/100
804/804 [==============================] - 1s 675us/step - loss: 0.5381 - accuracy: 0.7411
Epoch 84/100
804/804 [==============================] - 1s 676us/step - loss: 0.5381 - accuracy: 0.7406
Epoch 85/100
804/804 [==============================] - 1s 676us/step - loss: 0.5382 - accuracy: 0.7393
Epoch 86/100
804/804 [==============================] - 1s 680us/step - loss: 0.5380 - accuracy: 0.7404
Epoch 87/100
804/804 [==============================] - 1s 674us/step - loss: 0.5376 - accuracy: 0.7411
Epoch 88/100
804/804 [==============================] - 1s 674us/step - loss: 0.5392 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 1s 675us/step - loss: 0.5381 - accuracy: 0.7401
Epoch 90/100
804/804 [==============================] - 1s 668us/step - loss: 0.5374 - accuracy: 0.7408
Epoch 91/100
804/804 [==============================] - 1s 669us/step - loss: 0.5375 - accuracy: 0.7409
Epoch 92/100
804/804 [==============================] - 1s 670us/step - loss: 0.5378 - accuracy: 0.7411
Epoch 93/100
804/804 [==============================] - 1s 678us/step - loss: 0.5379 - accuracy: 0.7410
Epoch 94/100
804/804 [==============================] - 1s 669us/step - loss: 0.5379 - accuracy: 0.7409
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7414
Epoch 96/100
804/804 [==============================] - 1s 703us/step - loss: 0.5374 - accuracy: 0.7409
Epoch 97/100
804/804 [==============================] - 1s 671us/step - loss: 0.5374 - accuracy: 0.7406
Epoch 98/100
804/804 [==============================] - 1s 669us/step - loss: 0.5385 - accuracy: 0.7401
Epoch 99/100
804/804 [==============================] - 1s 674us/step - loss: 0.5366 - accuracy: 0.7414
Epoch 100/100
804/804 [==============================] - 1s 659us/step - loss: 0.5366 - accuracy: 0.7410

In [94]:
# Evaluate the best model using the test data
model_loss, model_accuracy = bestmodel_nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5605 - accuracy: 0.7243 - 155ms/epoch - 578us/step
Loss: 0.5605093240737915, Accuracy: 0.7243148684501648

In [95]:
# Export our model to HDF5 file
bestmodel_nn.save("AlphabetSoupCharity_Optimization_V1.h5")