## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_value_counts.loc[classification_value_counts > 1]
classification_counts_gt_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts_type = dict(application_df['CLASSIFICATION'].value_counts())

classifications_to_replace = [x for x in classification_counts_type if classification_counts_type[x] < 1000]
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
df_application_dummies = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
df_application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = df_application_dummies['IS_SUCCESSFUL'].values
X = df_application_dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
print(X_train_scaled[:1])
print(X_test_scaled[:1])

[[ 1.39430557e-02 -3.10240562e-02 -8.71716884e-02 -1.26949951e-01
  -1.76833382e-01  5.19984348e-01 -2.17603980e-01 -1.89529395e-01
  -1.91610609e-01 -1.48084866e-01 -1.51207580e-01 -9.19134268e-01
  -4.36860536e-02  9.25558343e-01 -3.18080475e-02 -1.24708057e-02
  -1.97203755e-02  9.91483936e-01 -4.06571166e-01 -4.62939185e-01
  -2.39455587e-01 -2.46188057e-01 -2.65844761e-01 -1.06407401e-01
  -6.46290474e-02 -6.23503924e-03  4.71029317e-01 -4.46441476e-01
  -6.56702366e-01 -1.16249929e-01 -3.47354907e-02  6.79465936e-01
  -1.56957919e+00 -1.45319700e-01  8.01806336e+00 -3.29693079e-01
  -8.44127879e-02 -1.70780073e-01 -3.50608740e-01 -6.49316173e-02
  -7.50293141e-02  2.99149931e-02 -2.99149931e-02]]
[[ 0.01394306 -0.03104931 -0.08717169 -0.12694995 -0.17683338  0.51998435
  -0.21760398 -0.1895294  -0.19161061 -0.14808487 -0.15120758  1.08798033
  -0.04368605 -1.08042892 -0.03180805 -0.01247081 -0.01972038  0.99148394
  -0.40657117 -0.46293918 -0.23945559 -0.24618806 -0.26584476 -0.1064074
  -0.06462905 -0.00623504  0.47102932 -0.44644148 -0.65670237 -0.11624993
  -0.03473549  0.67946594  0.63711344 -0.1453197  -0.1247184  -0.32969308
  -0.08441279 -0.17078007 -0.35060874 -0.06493162 -0.07502931  0.02991499
  -0.02991499]]

## Compile, Train and Evaluate the Model

Model Summary:  
Regularized deep neural network with L2 regularization and dropout.  
Early stopping with patience of 10 epochs.  
Learning rate reduction with factor of 0.5 and patience of 5 epochs.

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


# Model 3 Optimization: Regularization, Hyperparameter Tuning, and Early Stopping for Improved Performance



from tensorflow.keras import regularizers
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau


# Import necessary libraries
from tensorflow.keras import regularizers
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau


# Define model architecture
nn = tf.keras.models.Sequential()


# First Hidden Layer with L2 Regularization and Dropout
nn.add(tf.keras.layers.Dense(
    units=128, 
    input_dim=X_train_scaled.shape[1], 
    activation='relu', 
    kernel_regularizer=regularizers.l2(0.001)
))
nn.add(tf.keras.layers.Dropout(0.4))  # 40% dropout rate


# Second Hidden Layer with L2 Regularization and Dropout
nn.add(tf.keras.layers.Dense(
    units=64, 
    activation='relu', 
    kernel_regularizer=regularizers.l2(0.001)
))
nn.add(tf.keras.layers.Dropout(0.4))  # 40% dropout rate


# Third Hidden Layer with L2 Regularization
nn.add(tf.keras.layers.Dense(
    units=32, 
    activation='relu', 
    kernel_regularizer=regularizers.l2(0.001)
))


# Output Layer (Binary Classification)
nn.add(tf.keras.layers.Dense(
    units=1, 
    activation='sigmoid'
))


# Compile Model
nn.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), 
    loss='binary_crossentropy', 
    metrics=['accuracy']
)


# Define Early Stopping and Learning Rate Reduction Callbacks
early_stopping = EarlyStopping(
    monitor='val_loss', 
    patience=10, 
    restore_best_weights=True
)
lr_scheduler = ReduceLROnPlateau(
    monitor='val_loss', 
    factor=0.5, 
    patience=5, 
    min_lr=0.00001
)


# Train Model with Callbacks
history = nn.fit(
    X_train_scaled, 
    y_train, 
    epochs=150, 
    batch_size=32, 
    validation_split=0.2, 
    callbacks=[early_stopping, lr_scheduler]
)


# Evaluate Model on Test Data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Test Loss: {model_loss:.4f}, Test Accuracy: {model_accuracy*100:.2f}%")

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.
WARNING:absl:There is a known slowdown when using v2.11+ Keras optimizers on M1/M2 Macs. Falling back to the legacy Keras optimizer, i.e., `tf.keras.optimizers.legacy.Adam`.

Epoch 1/150
644/644 [==============================] - 1s 844us/step - loss: 0.7350 - accuracy: 0.7026 - val_loss: 0.6768 - val_accuracy: 0.7172 - lr: 0.0010
Epoch 2/150
644/644 [==============================] - 0s 752us/step - loss: 0.6524 - accuracy: 0.7281 - val_loss: 0.6316 - val_accuracy: 0.7168 - lr: 0.0010
Epoch 3/150
644/644 [==============================] - 0s 747us/step - loss: 0.6179 - accuracy: 0.7288 - val_loss: 0.6068 - val_accuracy: 0.7155 - lr: 0.0010
Epoch 4/150
644/644 [==============================] - 0s 767us/step - loss: 0.5951 - accuracy: 0.7291 - val_loss: 0.5924 - val_accuracy: 0.7238 - lr: 0.0010
Epoch 5/150
644/644 [==============================] - 1s 788us/step - loss: 0.5848 - accuracy: 0.7312 - val_loss: 0.5838 - val_accuracy: 0.7203 - lr: 0.0010
Epoch 6/150
644/644 [==============================] - 1s 783us/step - loss: 0.5784 - accuracy: 0.7311 - val_loss: 0.5805 - val_accuracy: 0.7178 - lr: 0.0010
Epoch 7/150
644/644 [==============================] - 0s 757us/step - loss: 0.5746 - accuracy: 0.7288 - val_loss: 0.5767 - val_accuracy: 0.7223 - lr: 0.0010
Epoch 8/150
644/644 [==============================] - 0s 757us/step - loss: 0.5720 - accuracy: 0.7289 - val_loss: 0.5772 - val_accuracy: 0.7205 - lr: 0.0010
Epoch 9/150
644/644 [==============================] - 0s 758us/step - loss: 0.5720 - accuracy: 0.7306 - val_loss: 0.5762 - val_accuracy: 0.7201 - lr: 0.0010
Epoch 10/150
644/644 [==============================] - 1s 965us/step - loss: 0.5720 - accuracy: 0.7292 - val_loss: 0.5745 - val_accuracy: 0.7217 - lr: 0.0010
Epoch 11/150
644/644 [==============================] - 0s 759us/step - loss: 0.5692 - accuracy: 0.7297 - val_loss: 0.5754 - val_accuracy: 0.7186 - lr: 0.0010
Epoch 12/150
644/644 [==============================] - 1s 789us/step - loss: 0.5699 - accuracy: 0.7305 - val_loss: 0.5740 - val_accuracy: 0.7201 - lr: 0.0010
Epoch 13/150
644/644 [==============================] - 0s 753us/step - loss: 0.5697 - accuracy: 0.7321 - val_loss: 0.5754 - val_accuracy: 0.7238 - lr: 0.0010
Epoch 14/150
644/644 [==============================] - 0s 764us/step - loss: 0.5695 - accuracy: 0.7301 - val_loss: 0.5733 - val_accuracy: 0.7224 - lr: 0.0010
Epoch 15/150
644/644 [==============================] - 0s 752us/step - loss: 0.5697 - accuracy: 0.7291 - val_loss: 0.5747 - val_accuracy: 0.7236 - lr: 0.0010
Epoch 16/150
644/644 [==============================] - 0s 758us/step - loss: 0.5698 - accuracy: 0.7307 - val_loss: 0.5750 - val_accuracy: 0.7195 - lr: 0.0010
Epoch 17/150
644/644 [==============================] - 0s 763us/step - loss: 0.5697 - accuracy: 0.7298 - val_loss: 0.5746 - val_accuracy: 0.7215 - lr: 0.0010
Epoch 18/150
644/644 [==============================] - 0s 766us/step - loss: 0.5687 - accuracy: 0.7291 - val_loss: 0.5748 - val_accuracy: 0.7221 - lr: 0.0010
Epoch 19/150
644/644 [==============================] - 1s 777us/step - loss: 0.5680 - accuracy: 0.7301 - val_loss: 0.5759 - val_accuracy: 0.7228 - lr: 0.0010
Epoch 20/150
644/644 [==============================] - 0s 764us/step - loss: 0.5643 - accuracy: 0.7325 - val_loss: 0.5705 - val_accuracy: 0.7195 - lr: 5.0000e-04
Epoch 21/150
644/644 [==============================] - 0s 759us/step - loss: 0.5641 - accuracy: 0.7333 - val_loss: 0.5707 - val_accuracy: 0.7238 - lr: 5.0000e-04
Epoch 22/150
644/644 [==============================] - 0s 757us/step - loss: 0.5624 - accuracy: 0.7334 - val_loss: 0.5699 - val_accuracy: 0.7226 - lr: 5.0000e-04
Epoch 23/150
644/644 [==============================] - 0s 761us/step - loss: 0.5629 - accuracy: 0.7312 - val_loss: 0.5706 - val_accuracy: 0.7244 - lr: 5.0000e-04
Epoch 24/150
644/644 [==============================] - 0s 759us/step - loss: 0.5613 - accuracy: 0.7336 - val_loss: 0.5703 - val_accuracy: 0.7211 - lr: 5.0000e-04
Epoch 25/150
644/644 [==============================] - 1s 791us/step - loss: 0.5630 - accuracy: 0.7336 - val_loss: 0.5700 - val_accuracy: 0.7230 - lr: 5.0000e-04
Epoch 26/150
644/644 [==============================] - 1s 860us/step - loss: 0.5616 - accuracy: 0.7342 - val_loss: 0.5697 - val_accuracy: 0.7205 - lr: 5.0000e-04
Epoch 27/150
644/644 [==============================] - 1s 952us/step - loss: 0.5617 - accuracy: 0.7326 - val_loss: 0.5696 - val_accuracy: 0.7193 - lr: 5.0000e-04
Epoch 28/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7325 - val_loss: 0.5685 - val_accuracy: 0.7215 - lr: 5.0000e-04
Epoch 29/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7334 - val_loss: 0.5704 - val_accuracy: 0.7201 - lr: 5.0000e-04
Epoch 30/150
644/644 [==============================] - 3s 5ms/step - loss: 0.5607 - accuracy: 0.7326 - val_loss: 0.5700 - val_accuracy: 0.7205 - lr: 5.0000e-04
Epoch 31/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7336 - val_loss: 0.5707 - val_accuracy: 0.7213 - lr: 5.0000e-04
Epoch 32/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7325 - val_loss: 0.5687 - val_accuracy: 0.7197 - lr: 5.0000e-04
Epoch 33/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7313 - val_loss: 0.5699 - val_accuracy: 0.7213 - lr: 5.0000e-04
Epoch 34/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7340 - val_loss: 0.5693 - val_accuracy: 0.7207 - lr: 2.5000e-04
Epoch 35/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5591 - accuracy: 0.7340 - val_loss: 0.5689 - val_accuracy: 0.7195 - lr: 2.5000e-04
Epoch 36/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5573 - accuracy: 0.7355 - val_loss: 0.5670 - val_accuracy: 0.7219 - lr: 2.5000e-04
Epoch 37/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5571 - accuracy: 0.7347 - val_loss: 0.5678 - val_accuracy: 0.7203 - lr: 2.5000e-04
Epoch 38/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5568 - accuracy: 0.7347 - val_loss: 0.5681 - val_accuracy: 0.7191 - lr: 2.5000e-04
Epoch 39/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7347 - val_loss: 0.5680 - val_accuracy: 0.7224 - lr: 2.5000e-04
Epoch 40/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5574 - accuracy: 0.7350 - val_loss: 0.5667 - val_accuracy: 0.7211 - lr: 2.5000e-04
Epoch 41/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7355 - val_loss: 0.5667 - val_accuracy: 0.7219 - lr: 2.5000e-04
Epoch 42/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5568 - accuracy: 0.7352 - val_loss: 0.5670 - val_accuracy: 0.7209 - lr: 2.5000e-04
Epoch 43/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7367 - val_loss: 0.5673 - val_accuracy: 0.7203 - lr: 2.5000e-04
Epoch 44/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7363 - val_loss: 0.5680 - val_accuracy: 0.7205 - lr: 2.5000e-04
Epoch 45/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7357 - val_loss: 0.5666 - val_accuracy: 0.7207 - lr: 2.5000e-04
Epoch 46/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7347 - val_loss: 0.5668 - val_accuracy: 0.7207 - lr: 2.5000e-04
Epoch 47/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7352 - val_loss: 0.5675 - val_accuracy: 0.7221 - lr: 2.5000e-04
Epoch 48/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7368 - val_loss: 0.5668 - val_accuracy: 0.7215 - lr: 2.5000e-04
Epoch 49/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7363 - val_loss: 0.5663 - val_accuracy: 0.7223 - lr: 2.5000e-04
Epoch 50/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7354 - val_loss: 0.5671 - val_accuracy: 0.7223 - lr: 2.5000e-04
Epoch 51/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7354 - val_loss: 0.5669 - val_accuracy: 0.7203 - lr: 2.5000e-04
Epoch 52/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7379 - val_loss: 0.5690 - val_accuracy: 0.7230 - lr: 2.5000e-04
Epoch 53/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7352 - val_loss: 0.5665 - val_accuracy: 0.7209 - lr: 2.5000e-04
Epoch 54/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7364 - val_loss: 0.5671 - val_accuracy: 0.7203 - lr: 2.5000e-04
Epoch 55/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7365 - val_loss: 0.5662 - val_accuracy: 0.7223 - lr: 1.2500e-04
Epoch 56/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7367 - val_loss: 0.5663 - val_accuracy: 0.7221 - lr: 1.2500e-04
Epoch 57/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7377 - val_loss: 0.5670 - val_accuracy: 0.7217 - lr: 1.2500e-04
Epoch 58/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7357 - val_loss: 0.5666 - val_accuracy: 0.7201 - lr: 1.2500e-04
Epoch 59/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7359 - val_loss: 0.5661 - val_accuracy: 0.7215 - lr: 1.2500e-04
Epoch 60/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7360 - val_loss: 0.5660 - val_accuracy: 0.7211 - lr: 1.2500e-04
Epoch 61/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7380 - val_loss: 0.5663 - val_accuracy: 0.7193 - lr: 1.2500e-04
Epoch 62/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7362 - val_loss: 0.5663 - val_accuracy: 0.7203 - lr: 1.2500e-04
Epoch 63/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7369 - val_loss: 0.5668 - val_accuracy: 0.7195 - lr: 1.2500e-04
Epoch 64/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7384 - val_loss: 0.5664 - val_accuracy: 0.7201 - lr: 1.2500e-04
Epoch 65/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7358 - val_loss: 0.5662 - val_accuracy: 0.7201 - lr: 1.2500e-04
Epoch 66/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7365 - val_loss: 0.5657 - val_accuracy: 0.7203 - lr: 6.2500e-05
Epoch 67/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7365 - val_loss: 0.5658 - val_accuracy: 0.7199 - lr: 6.2500e-05
Epoch 68/150
644/644 [==============================] - 6s 9ms/step - loss: 0.5522 - accuracy: 0.7373 - val_loss: 0.5661 - val_accuracy: 0.7199 - lr: 6.2500e-05
Epoch 69/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5530 - accuracy: 0.7371 - val_loss: 0.5660 - val_accuracy: 0.7205 - lr: 6.2500e-05
Epoch 70/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7368 - val_loss: 0.5657 - val_accuracy: 0.7209 - lr: 6.2500e-05
Epoch 71/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7373 - val_loss: 0.5656 - val_accuracy: 0.7213 - lr: 6.2500e-05
Epoch 72/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7377 - val_loss: 0.5661 - val_accuracy: 0.7209 - lr: 6.2500e-05
Epoch 73/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7362 - val_loss: 0.5661 - val_accuracy: 0.7207 - lr: 6.2500e-05
Epoch 74/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7379 - val_loss: 0.5661 - val_accuracy: 0.7205 - lr: 6.2500e-05
Epoch 75/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7389 - val_loss: 0.5662 - val_accuracy: 0.7224 - lr: 6.2500e-05
Epoch 76/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7397 - val_loss: 0.5658 - val_accuracy: 0.7217 - lr: 6.2500e-05
Epoch 77/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7383 - val_loss: 0.5661 - val_accuracy: 0.7211 - lr: 3.1250e-05
Epoch 78/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7372 - val_loss: 0.5659 - val_accuracy: 0.7213 - lr: 3.1250e-05
Epoch 79/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7374 - val_loss: 0.5659 - val_accuracy: 0.7215 - lr: 3.1250e-05
Epoch 80/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7370 - val_loss: 0.5658 - val_accuracy: 0.7209 - lr: 3.1250e-05
Epoch 81/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7377 - val_loss: 0.5659 - val_accuracy: 0.7226 - lr: 3.1250e-05
268/268 - 0s - loss: 0.5646 - accuracy: 0.7299 - 143ms/epoch - 534us/step
Test Loss: 0.5646, Test Accuracy: 72.99%

In [19]:
# Evaluate model performance on test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Print evaluation results
print(f"Test Loss: {model_loss:.4f}, Test Accuracy: {model_accuracy*100:.2f}%")

268/268 - 0s - loss: 0.5646 - accuracy: 0.7299 - 97ms/epoch - 362us/step
Test Loss: 0.5646, Test Accuracy: 72.99%

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_V2.h5")