## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_value_counts.loc[classification_value_counts > 1]
classification_counts_gt_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts_type = dict(application_df['CLASSIFICATION'].value_counts())

classifications_to_replace = [x for x in classification_counts_type if classification_counts_type[x] < 1000]
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
df_application_dummies = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION','CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
df_application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
y = df_application_dummies['IS_SUCCESSFUL'].values
X = df_application_dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
print(X_train_scaled[:1])
print(X_test_scaled[:1])

[[ 0.00881785 -0.0318352  -0.09094115  7.92661753 -0.17857931 -1.94139192
  -0.21583439 -0.18440702 -0.19007898 -0.1464315  -0.1487688   1.09139424
  -0.04368605 -1.08398489 -0.0324146  -0.00881785 -0.01870803  0.99325861
  -0.40670099 -0.46547551 -0.24279507 -0.2413554  -0.26559323 -0.10490262
  -0.06493162 -0.01079982  0.46590815 -0.4415478   1.53536574 -0.11778608
  -0.03529198 -1.48226738  0.64012967 -0.1487688  -0.12710794 -0.32918556
  -0.08464603 -0.17210159 -0.35158665 -0.06553264 -0.07209119  0.02858365
  -0.02858365]]
[[ 0.00881785 -0.0318352  -0.09094115 -0.12615722 -0.17857931  0.51509434
  -0.21583439 -0.18440702 -0.19007898 -0.1464315  -0.1487688  -0.91625918
  -0.04368605  0.92252208 -0.0324146  -0.00881785 -0.01870803 -1.00678714
   2.45880884 -0.46547551 -0.24279507 -0.2413554  -0.26559323 -0.10490262
  -0.06493162 -0.01079982  0.46590815 -0.4415478  -0.65131061 -0.11778608
  -0.03529198  0.67464212  0.64012967 -0.1487688  -0.12710794 -0.32918556
  -0.08464603 -0.17210159 -0.35158665 -0.06553264 -0.07209119  0.02858365
  -0.02858365]]

## Compile, Train and Evaluate the Model

Key optimizations in the second model include:  
  Enhanced complexity via a third hidden layer for improved pattern recognition.  
  Extended training to 120 epochs for increased learning iterations.  
  Layer-specific activation functions (ReLU, Tanh) for optimized performance.   
  Real-time evaluation on 20% unseen data using validation split."

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Input layer features
# Define Deep Neural Network Model with Additional Hidden Layer


# Initialize Sequential Model
nn = tf.keras.models.Sequential()


# Input Layer Features
input_dim = X_train_scaled.shape[1]


# First Hidden Layer (Input Layer)
nn.add(tf.keras.layers.Dense(
    units=80, 
    input_dim=input_dim, 
    activation='relu'
))  # ReLU activation


# Second Hidden Layer
nn.add(tf.keras.layers.Dense(
    units=30, 
    activation="tanh"
))  # Tanh activation


# Third Hidden Layer (Newly Added)
nn.add(tf.keras.layers.Dense(
    units=15, 
    activation="tanh"
))  # Tanh activation


# Output Layer (Binary Classification)
nn.add(tf.keras.layers.Dense(
    units=1, 
    activation="sigmoid"
))  # Sigmoid activation


# Print Model Summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 15)                465

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 6,431
Trainable params: 6,431
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=['accuracy'])

In [ ]:

# Train the Model
history = nn.fit(
    X_train_scaled, 
    y_train, 
    epochs=120, 
    validation_split=0.2
)


# Display History Keys (Optional)
print(history.history.keys())

Epoch 1/120

2024-10-15 23:44:54.675743: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

644/644 [==============================] - 1s 725us/step - loss: 0.5698 - accuracy: 0.7172 - val_loss: 0.5664 - val_accuracy: 0.7174
Epoch 2/120
644/644 [==============================] - 0s 628us/step - loss: 0.5561 - accuracy: 0.7259 - val_loss: 0.5600 - val_accuracy: 0.7265
Epoch 3/120
644/644 [==============================] - 0s 625us/step - loss: 0.5532 - accuracy: 0.7298 - val_loss: 0.5581 - val_accuracy: 0.7287
Epoch 4/120
644/644 [==============================] - 0s 642us/step - loss: 0.5514 - accuracy: 0.7288 - val_loss: 0.5557 - val_accuracy: 0.7314
Epoch 5/120
644/644 [==============================] - 0s 624us/step - loss: 0.5505 - accuracy: 0.7293 - val_loss: 0.5570 - val_accuracy: 0.7287
Epoch 6/120
644/644 [==============================] - 0s 655us/step - loss: 0.5493 - accuracy: 0.7295 - val_loss: 0.5544 - val_accuracy: 0.7312
Epoch 7/120
644/644 [==============================] - 0s 618us/step - loss: 0.5479 - accuracy: 0.7308 - val_loss: 0.5570 - val_accuracy: 0.7211
Epoch 8/120
644/644 [==============================] - 0s 625us/step - loss: 0.5474 - accuracy: 0.7301 - val_loss: 0.5544 - val_accuracy: 0.7298
Epoch 9/120
644/644 [==============================] - 0s 633us/step - loss: 0.5465 - accuracy: 0.7326 - val_loss: 0.5547 - val_accuracy: 0.7269
Epoch 10/120
644/644 [==============================] - 0s 635us/step - loss: 0.5457 - accuracy: 0.7318 - val_loss: 0.5520 - val_accuracy: 0.7281
Epoch 11/120
644/644 [==============================] - 0s 619us/step - loss: 0.5453 - accuracy: 0.7323 - val_loss: 0.5549 - val_accuracy: 0.7300
Epoch 12/120
644/644 [==============================] - 0s 641us/step - loss: 0.5443 - accuracy: 0.7335 - val_loss: 0.5533 - val_accuracy: 0.7281
Epoch 13/120
644/644 [==============================] - 0s 642us/step - loss: 0.5441 - accuracy: 0.7312 - val_loss: 0.5549 - val_accuracy: 0.7279
Epoch 14/120
644/644 [==============================] - 0s 704us/step - loss: 0.5439 - accuracy: 0.7320 - val_loss: 0.5525 - val_accuracy: 0.7285
Epoch 15/120
644/644 [==============================] - 0s 772us/step - loss: 0.5431 - accuracy: 0.7322 - val_loss: 0.5531 - val_accuracy: 0.7283
Epoch 16/120
644/644 [==============================] - 1s 927us/step - loss: 0.5426 - accuracy: 0.7329 - val_loss: 0.5558 - val_accuracy: 0.7291
Epoch 17/120
644/644 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7333 - val_loss: 0.5525 - val_accuracy: 0.7298
Epoch 18/120
644/644 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7337 - val_loss: 0.5530 - val_accuracy: 0.7300
Epoch 19/120
644/644 [==============================] - 3s 5ms/step - loss: 0.5417 - accuracy: 0.7328 - val_loss: 0.5531 - val_accuracy: 0.7267
Epoch 20/120
644/644 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7352 - val_loss: 0.5532 - val_accuracy: 0.7294
Epoch 21/120
644/644 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7351 - val_loss: 0.5535 - val_accuracy: 0.7304
Epoch 22/120
644/644 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7340 - val_loss: 0.5531 - val_accuracy: 0.7277
Epoch 23/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7347 - val_loss: 0.5543 - val_accuracy: 0.7213
Epoch 24/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7362 - val_loss: 0.5542 - val_accuracy: 0.7281
Epoch 25/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7341 - val_loss: 0.5529 - val_accuracy: 0.7289
Epoch 26/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7351 - val_loss: 0.5549 - val_accuracy: 0.7291
Epoch 27/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7339 - val_loss: 0.5533 - val_accuracy: 0.7269
Epoch 28/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7358 - val_loss: 0.5532 - val_accuracy: 0.7291
Epoch 29/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7353 - val_loss: 0.5529 - val_accuracy: 0.7209
Epoch 30/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7357 - val_loss: 0.5517 - val_accuracy: 0.7287
Epoch 31/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7365 - val_loss: 0.5541 - val_accuracy: 0.7267
Epoch 32/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7361 - val_loss: 0.5525 - val_accuracy: 0.7291
Epoch 33/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7366 - val_loss: 0.5541 - val_accuracy: 0.7273
Epoch 34/120
644/644 [==============================] - 1s 977us/step - loss: 0.5375 - accuracy: 0.7368 - val_loss: 0.5536 - val_accuracy: 0.7285
Epoch 35/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7364 - val_loss: 0.5537 - val_accuracy: 0.7285
Epoch 36/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7359 - val_loss: 0.5540 - val_accuracy: 0.7285
Epoch 37/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7368 - val_loss: 0.5539 - val_accuracy: 0.7273
Epoch 38/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7365 - val_loss: 0.5547 - val_accuracy: 0.7279
Epoch 39/120
644/644 [==============================] - 1s 999us/step - loss: 0.5369 - accuracy: 0.7373 - val_loss: 0.5544 - val_accuracy: 0.7275
Epoch 40/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7374 - val_loss: 0.5545 - val_accuracy: 0.7269
Epoch 41/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7376 - val_loss: 0.5538 - val_accuracy: 0.7289
Epoch 42/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7374 - val_loss: 0.5555 - val_accuracy: 0.7267
Epoch 43/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7377 - val_loss: 0.5551 - val_accuracy: 0.7279
Epoch 44/120
644/644 [==============================] - 1s 947us/step - loss: 0.5365 - accuracy: 0.7375 - val_loss: 0.5544 - val_accuracy: 0.7289
Epoch 45/120
644/644 [==============================] - 1s 977us/step - loss: 0.5362 - accuracy: 0.7363 - val_loss: 0.5564 - val_accuracy: 0.7277
Epoch 46/120
644/644 [==============================] - 1s 986us/step - loss: 0.5359 - accuracy: 0.7379 - val_loss: 0.5541 - val_accuracy: 0.7279
Epoch 47/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7371 - val_loss: 0.5556 - val_accuracy: 0.7277
Epoch 48/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7380 - val_loss: 0.5551 - val_accuracy: 0.7259
Epoch 49/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7388 - val_loss: 0.5560 - val_accuracy: 0.7277
Epoch 50/120
644/644 [==============================] - 1s 988us/step - loss: 0.5357 - accuracy: 0.7377 - val_loss: 0.5551 - val_accuracy: 0.7265
Epoch 51/120
644/644 [==============================] - 1s 967us/step - loss: 0.5360 - accuracy: 0.7375 - val_loss: 0.5549 - val_accuracy: 0.7287
Epoch 52/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7385 - val_loss: 0.5571 - val_accuracy: 0.7287
Epoch 53/120
644/644 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7381 - val_loss: 0.5554 - val_accuracy: 0.7294
Epoch 54/120
644/644 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7379 - val_loss: 0.5563 - val_accuracy: 0.7287
Epoch 55/120
644/644 [==============================] - 5s 7ms/step - loss: 0.5350 - accuracy: 0.7382 - val_loss: 0.5566 - val_accuracy: 0.7265
Epoch 56/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7372 - val_loss: 0.5570 - val_accuracy: 0.7281
Epoch 57/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7377 - val_loss: 0.5568 - val_accuracy: 0.7287
Epoch 58/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7375 - val_loss: 0.5563 - val_accuracy: 0.7279
Epoch 59/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7378 - val_loss: 0.5564 - val_accuracy: 0.7267
Epoch 60/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7396 - val_loss: 0.5571 - val_accuracy: 0.7275
Epoch 61/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7384 - val_loss: 0.5567 - val_accuracy: 0.7273
Epoch 62/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7384 - val_loss: 0.5558 - val_accuracy: 0.7289
Epoch 63/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7377 - val_loss: 0.5592 - val_accuracy: 0.7287
Epoch 64/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7376 - val_loss: 0.5577 - val_accuracy: 0.7285
Epoch 65/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7381 - val_loss: 0.5569 - val_accuracy: 0.7285
Epoch 66/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7382 - val_loss: 0.5574 - val_accuracy: 0.7265
Epoch 67/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7387 - val_loss: 0.5565 - val_accuracy: 0.7273
Epoch 68/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7385 - val_loss: 0.5580 - val_accuracy: 0.7285
Epoch 69/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7380 - val_loss: 0.5565 - val_accuracy: 0.7287
Epoch 70/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7388 - val_loss: 0.5589 - val_accuracy: 0.7293
Epoch 71/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7387 - val_loss: 0.5574 - val_accuracy: 0.7281
Epoch 72/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7373 - val_loss: 0.5578 - val_accuracy: 0.7283
Epoch 73/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7389 - val_loss: 0.5586 - val_accuracy: 0.7267
Epoch 74/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7376 - val_loss: 0.5587 - val_accuracy: 0.7283
Epoch 75/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7386 - val_loss: 0.5586 - val_accuracy: 0.7273
Epoch 76/120
644/644 [==============================] - 1s 978us/step - loss: 0.5335 - accuracy: 0.7383 - val_loss: 0.5589 - val_accuracy: 0.7277
Epoch 77/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7385 - val_loss: 0.5599 - val_accuracy: 0.7277
Epoch 78/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7382 - val_loss: 0.5590 - val_accuracy: 0.7267
Epoch 79/120
644/644 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7382 - val_loss: 0.5587 - val_accuracy: 0.7259
Epoch 80/120
644/644 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7389 - val_loss: 0.5585 - val_accuracy: 0.7281
Epoch 81/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7384 - val_loss: 0.5584 - val_accuracy: 0.7287
Epoch 82/120
644/644 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7386 - val_loss: 0.5581 - val_accuracy: 0.7277
Epoch 83/120
387/644 [=================>............] - ETA: 0s - loss: 0.5317 - accuracy: 0.7406

In [ ]:
# Evaluate the model using the test data


# Evaluate Model Performance on Test Data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled, 
    y_test, 
    verbose=2
)


# Print Evaluation Results
print(f"Loss: {model_loss:.4f}, Accuracy: {model_accuracy*100:.2f}%")

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimisation_V1.h5")